/* Contenedor de la tarjeta */
.containerUsers {
  perspective: 100%;
}

.card {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15em; /* Ajusta según sea necesario */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.containerUsers:hover .card {
  transform: rotateY(180deg);
}

/* Frente de la tarjeta */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Estilo para la parte frontal */
.front {
  display: flex;
  width: 50%;
  height: 80%;
  align-items: center;
  justify-content: center;
  background: transparent
}

.foto{
  border-radius: 50%;
}

/* Estilo para la parte trasera */
.back {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
  background: transparent;
}


.name{
  font-size: 20px;
}

.info {
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.containerName{
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  font-size: 15px;
  justify-content: center;
}

.nuestroEquipo{
  padding-top: 1em;
  padding-bottom: 1em;
}